.main-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-surround {
    height: 99vh;
    min-width: 1500px;
}

.content-background {
    background-image: url("../images/background6.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: -10%;
    padding-top: 3%;
    padding-right: 0%;
    padding-bottom: 10%;
    margin-right: -10%;
}

.content-body {
    font-family: 'Crayon_Pastel', Fallback, sans-serif;
    margin-left: 9%;
    margin-top: 5%;
    margin-right: 11%;
    /*background-color: red;
    opacity: 0.25;*/
    height: 90vh;
    padding-right: 40px;
    overflow-y: auto;

}

.content {
    font-weight: normal;
    font-size: 30px;
    color: black;
    /*background-color: blue;*/
}

.title {
    font-weight: normal;
    font-size: 80px;
    margin-bottom: 30px;
}

.subtitle {
    font-weight: normal;
    font-size: 50px;
    margin-bottom: 30px;
    clear: both;
}

.writeup {
    margin-bottom: 50px;
    clear: both;
    z-index: 1;
}

.footer {
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: normal;
    font-size: 20px;
    color: black;
}

.indent {
    position: relative;
    left: 25%;
    transform: translateX(-25%);
    width: 50%;
    z-index: 1;
}
@font-face {
    font-family: 'Crayon_Hand';
    src: url('../fonts/crayon_hand.ttf') format('truetype');
}

@font-face {
    font-family: 'Crayon_Pastel';
    src: url('../fonts/crayon_pastel.ttf') format('truetype');
}

body {
    background-image: url("../images/background-apoc2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    scrollbar-color: red yellow; /* For Firefox */
}


::-webkit-scrollbar { /* Chrome, Edge, Safari */
    width: 12px;
    cursor: grab;
}

::-webkit-scrollbar-track { /* Chrome, Edge, Safari */
    background: orange;
    cursor: grab;
}

::-webkit-scrollbar-thumb { /* Chrome, Edge, Safari */
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
    cursor: grab;
}


a:link {
    cursor: pointer;
    color: black;
    text-decoration: inherit;
}

a:visited {
    color: black;
    cursor: pointer;
    text-decoration: inherit;
}

a:hover {
    color: black;
    cursor: pointer;
    text-decoration: inherit;
}

a:active {
    color: black;
    cursor: pointer;
    text-decoration: inherit;
}

/*
***********************************************************************************************************************
Characters
 */
.char-container {
    max-width: 1500px;
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.char-child {
    width: 50%;
    padding: 20px;
}
.char {
    color: red;
    font-style: italic;
    font-weight: bold;
    cursor: help;
}
.char-avatar {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.char-name {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80vh;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 80px;
    font-family: 'Crayon_Pastel', Fallback, sans-serif;
}
.char-dialog {
    font-weight: normal;
    font-size: 30px;
    color: white;
    font-family: 'Crayon_Pastel', Fallback, sans-serif;
}


/*
***********************************************************************************************************************
Polaroids
 */
img {

}

.polaroid-rotate {
    width: 320px;
    height: 370px;
    transform:rotate(-10deg);
    float: left;
    cursor: zoom-in;
}
.polaroid-surround {
    /*padding: 30px;*/
    position: relative;
    left:30px;
}
.polaroid-frame {
    position: relative;
    background-image: url("../images/polaroid.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 275px;
    height: 341px;
    z-index: 5;
}

.polaroid-img-bg {
    position: relative;
    z-index: 3;
    top: -310px;
    left: 20px;
    width: 230px;
    height: 235px;
    background-color: gray;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../images/static.png");
    background-size: cover;
}
.polaroid-img {
    position: relative;
    z-index: 4;
    width: 230px;
    height: 235px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../screenshots/entrance.jpg");
    background-size: contain;
}
.polaroid-caption {
    position: absolute;
    top: 83%;
    left: 10px;
    width: 255px;
    text-align: center;
    font-size: 20px;
}

/*
 Inspired by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_img
 */
.screenshot {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
    float: left;
    z-index: 2;
}

.evidence-right {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
    float: right;
    z-index: 2;
}

.evidence-left {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
    float: left;
    z-index: 2;
}

.screenshot:hover {
    opacity: 0.7;
}

/*
***********************************************************************************************************************
Modal
 */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}
.modal2 {
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}



.polaroid-big-rotate {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(-70%, -15%);  /*rotate(0deg) */
    top: 20%;
    left: 100%;
}
.polaroid-big-surround {
    /*padding: 30px;*/
    position: relative;
    /* left:30px;*/
    height: 80vh;
}
.polaroid-big-frame {
    position: relative;
    /*display: block;*/
/*    background-image: url("../images/polaroid-big.png");
    background-repeat: no-repeat;
    background-size: cover;*/
    height: 100%;
    width: auto;
    z-index: 5;
}

.polaroid-big-img-bg {
    position: relative;
    z-index: 3;
    width: auto;
    height: 100%;
    top: 0%;
    left: -5%;
    transform: translateX(-40%)
    /*background-color: gray;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../images/static.png");
    background-size: cover;*/
}
.polaroid-big-img {
    position: relative;
    z-index: 4;
    width: 230px;
    height: 235px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../screenshots/entrance.jpg");
    background-size: contain;
}
.polaroid-big-caption {
    position: absolute;
    top: 83%;
    left: 30%;
    width: auto;
    /*text-align: center;*/
    font-size: 4.0vh;
    font-family: 'Crayon_Pastel', Fallback, sans-serif;
}








.modal-polaroid-surround {
    background-color: blue;
}
.modal-img2 {
    height: 100%;
    width: auto;
    max-height: 90vh;
    max-width: 90vw;
    object-fit: contain;

}
.modal-polaroid {
    background-image: url("../images/polaroid-big2.png");
    background-color: blue;
    padding-top: 0px;
    margin-top: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-repeat:no-repeat;
    background-position:left top;
    background-size: contain;
    width: 100%;
    height: 100%;
    max-width: 90vh;
    z-index: 105;
}
.modal-polaroid-bg {

    z-index: 103;

}
.modal-polaroid-img {
    position: relative;
    z-index: 1044;
    width: 230px;
    height: 235px;
    background-repeat:no-repeat;
    background-position:center center;
    background-image: url("../screenshots/entrance.jpg");
    background-size: contain;
}

.outer {

  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (1/1) * 100%;
  }
  > .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
/*.blank-slate {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}*/
.resizer {
    position: relative;
    background-image:url("../images/polaroid-big2.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: contain;
    left: 50%;
    top: 50%;
    /* width: 80vw;
    min-width: 220px;*/
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;

}
/*.resizer_content {
    background-color:yellow;
    position: relative;
    top:10%;
}

.resizer_content2 {
    width: 600px;
    height: 800px;
    background-color:purple;
    position: relative;
}*/





/* Modal Content (image) */
.modal-img {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 90vh;
}

/* Caption of Modal Image */
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 80vh;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    font-size: 80px;
    font-family: 'Crayon_Pastel', Fallback, sans-serif;

}

/* Add Animation */
.modal-img, .modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
    animation-direction: normal;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bolder;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-img {
        width: 100%;
    }
}